<div class="cart-container">
    <h1>Tu Carrito</h1>
    <hr>
    {{#if cart.products.length}}
        <div class="cart-items">
            {{#each cart.products}}
                <div class="cart-item">
                    <h3>{{this.product.name}}</h3>
                    <p>Artista: {{this.product.artist}}</p>
                    <p>Precio unitario: ${{this.product.currentPrice}}</p>
                    <p>Cantidad: {{this.quantity}}</p>
                    <p>Precio: ${{this.product.currentPrice}} x {{this.quantity}}</p>

                    <button data-product-id="{{this.product._id}}">Eliminar</button>
                </div>
            {{/each}}
        </div>

        <div class="cart-total">
            <h2>Total de ítems: {{cart.products.length}}</h2>
            <h2>Total a pagar: ${{cart.totalPrice}}</h2>
        </div>
    {{else}}
        <p>Tu carrito está vacío.</p>
    {{/if}}
    <hr>
    <a href="/products">Volver al catálogo</a>
</div>