<section class="product-catalog">
    <div class="product-catalog-container">
        <h1>Catálogo de Vinilos</h1>
        <hr>
        <div class="product-grid">
            {{#each products}}
                <div class="product-card">
                    <div class="product-image">
                        <img src="/static/covers/{{coverImageSource}}" alt="{{name}}">
                    </div>
                    <h2>{{name}}</h2>
                    <p>Artista: {{artist}}</p>
                    <p>Precio: ${{currentPrice}}</p>
                    <a href="/products/{{id}}">Ver detalle</a>
                    <button data-id="{{id}}">Agregar al carrito</button>
                </div>
            {{/each}}
        </div>

        <hr>
        <div class="pagination">
            {{#if pagination.hasPrevPage}}
                <a href="/products?page={{pagination.prevPage}}">← Anterior</a>
            {{/if}}
                &nbsp;
                <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>
                &nbsp;
            {{#if pagination.hasNextPage}}
                <a href="/products?page={{pagination.nextPage}}">Siguiente →</a>
            {{/if}}
        </div>
    </div>
</section>
